*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif ;
    background-color: steelblue;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.box{
    /* position: relative; */
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 40px;
    border-radius: 5px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom:40px; 
    margin-top: 25px;
}

a{
    text-decoration: none;
    color: lightblue;
}

.btn{
    padding: 14px;
    /* display: inline-block; */
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn:focus{
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.comename{
  /* position: relative; */
  width: 300px;
  margin: 20px 0 40px;
  font-size: 20px;
}

.comename input{
  
  background-color: transparent;
  border: none;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  color: #fff;
  
}
.comename input:focus,
.comename input:valid{
  outline: 0;
  border-bottom-color: lightblue;
}
